@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');
*{
    font-family: 'Poppins', serif;
}
main nav{
    margin-top: 5rem;
}
.sidebar-toggled{
    width: 0 !important;
    overflow: hidden;
}
.nav-item a:hover{
    background-color: #333;
    padding: 1rem;
}
.nav-item .active{
    font-weight: 600;
    padding: 1rem;
}